* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  font-weight: bold;
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.5s;
  
  border: none;
  min-height: 30px;
}

@keyframes blink_red {
  to {
    background-color: rgb(142, 43, 73);
  }
}

.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

window#waybar {
  background-color: transparent;
}
window > box {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: rgba(30, 30, 46, 0.7);
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}
#workspaces {
  padding-left: 0px;
  padding-right: 4px;
}
#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 12px;
  background: transparent;
  color: rgb(255, 255, 255);
}
#workspaces button.active {
  /* border-bottom: 3px solid white; */
  background: #64727D;
  background-color: rgb(81, 132, 124);
}
#workspaces button.urgent {
}
#workspaces button:hover {
  /* background-color: rgb(48, 89, 50); */
}
#window {
  color: rgb(255, 255, 255);
}
tooltip {
  background: rgb(48, 45, 65);
}
tooltip label {
  color: rgb(217, 224, 238);
}
#custom-launcher {
  padding-left: 8px;
  padding-right: 6px;
  color: rgb(201, 203, 255);
}
#mode, #clock, #memory, #temperature, #cpu, #mpd, #idle_inhibitor, #temperature, #backlight, #pulseaudio, #network, #battery, #custom-powermenu, #custom-cava-internal {
  padding-left: 10px;
  padding-right: 10px;
}
#memory {
  color: rgb(181, 232, 224);
}
#cpu {
  color: rgb(245, 194, 231);
}
#clock {
  color: rgb(217, 224, 238);
}
#idle_inhibitor {
  color: rgb(221, 182, 242);
}
#temperature {
  color: rgb(150, 205, 251);
}
#backlight {
  color: rgb(248, 189, 150);
}
#pulseaudio {
  color: rgb(245, 224, 220);
}
#network {
  color: #ABE9B3;
}

#network.disconnected {
  color: rgb(255, 255, 255);
}
#battery {
  /* color: rgb(255, 143, 173); */
  color: rgb(200, 200, 240);
}
#battery.charging, #battery.full, #battery.discharging {
  color: rgb(250, 227, 176);
}
#battery.critical:not(.charging) {
  color: rgb(255, 143, 173);
  /* color: rgb(242, 143, 173); */
}
#custom-powermenu {
  color: rgb(242, 143, 173);
}
#tray {
  padding-right: 8px;
  padding-left: 10px;
}
#mpd.paused {
  color: #414868;
  font-style: italic;
}
#mpd.stopped {
  background: transparent;
}
#mpd {
  color: #c0caf5;
}
#custom-cava-internal{
  font-family: "Hack Nerd Font" ;
}
